
<h1 class="title is-1" style="text-align:center;">Shopping Cart </h1>
<div class="container">
 </div>
<% if @cart.empty? %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sorry!
      </h1>
      <h2 class="subtitle">
        No items in your cart
      </h2>
    </div>
  </div>
</section>
<% else %>
<div class="section">
  <table class="table is-bordered is-striped is-hoverable">
  <thead>
  <tr>
  <th>Image
  </th>
  <th>
      Product
      </th>
        <th>
     Unit Price
      </th>
              <th>
      Qty
      </th>
      <th>
      Remove
      </th>
      <th>Buy Now</th>
      </tr>
      </thead>
       <% @cart.each do |p|%>
      <tbody>
      <tr>
      <td> <%= image_tag url_for(p[:product].small)%></td>
      <td> <%= p[:product].name %></td>
      <td> <%= p[:product].price %></td>
      <td> <%= link_to "-", remove_from_cart_path(p[:product].id), class:"button is-rounded is-outlined is-small", method: :delete %>
      <%= p[:quantity] %>
      <%= link_to "+", remove_from_cart_path(p[:product].id), class:"button is-rounded is-outlined is-small", method: :delete %></td>
        <td> <%= link_to "Remove from cart", remove_from_cart_path(p[:product].id), class:"button is-danger", method: :delete %></td>
      </tr>
      </tbody>
        <%end%>
  </table>
  </div>
<%end%>
