
<div class="column is-one-quarter">
<div class="card products">
<% if product.image.present?%>
  <div class="card-image">
    <figure class="image is-3by3">
        <%= image_tag url_for(product.thumbnail)%>
    </figure>
  </div>
  <% end%>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
      <% if name_is_link %>
       <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
       <% else %>
        <p class="title is-4"><%= product.name %></p>
      <%end%>
        <p class="subtitle is-6"><strong>Amount: </strong> $<%= product.price%></p>
      </div>
    </div>

    <div class="content">
      <%= product.description %>
    </div>
  </div>
   <footer class="card-footer">
   <% if @cart.include?(product) %>
      <p class="card-footer-item">
      <span>
       <%= link_to "Remove from cart", remove_from_cart_path(product.id), class:"button is-danger", method: :delete %>
      </span>
    </p>
   <% else%>
    <p class="card-footer-item">
      <span>
       <%= link_to "Add to cart", add_to_cart_path(product.id), class:"button is-dark", method: :post %>
      </span>
    </p>
  <% end %>
    </footer>
  </div>
</div>