
<div class="column is-one-quarter">
<div class="card products">
<%
=begin%>
 <%= debug (@cart.include?(@cart.map { |p| p['id'] == product.id}))%>
<%
=end%>
<% products = session[:cart].map { |p| p['id'] }%>
<%
=begin%>
 <%= debug (products)%>
<%
=end%>
<% if product.image.present?%>
  <div class="card-image">
    <figure class="image is-3by3">
        <%= image_tag url_for(product.thumbnail), alt: product.name%>
    </figure>
  </div>
  <% end%>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
      <% if name_is_link %>
       <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
       <% else %>
        <p class="title is-4"><%= product.name %></p>
      <%end%>
        <p class="subtitle is-6"><strong>Amount: </strong> $<%= product.price%></p>
      </div>
    </div>

    <div class="content">
      <%= product.description %>
    </div>
  </div>
   <% if products.include?(product.id) %>
   <footer class="card-footer">
      <p class="card-footer-item">
      <span>
       <%= link_to "Remove from cart", remove_from_cart_path(product.id), class:"button is-danger", method: :delete %>
      </span>
    </p>
    </footer>
   <% else%>
                <%= form_tag add_to_cart_path(product.id), :method => "post" do %>
              <%= number_field_tag :quantity, 1,  min: 1, id: product.id, class:"input"%>

   <footer class="card-footer">
    <p class="card-footer-item">
      <span>
                    <%= submit_tag "Add to cart", class:"button is-dark" %>
      </span>
    </p>
    </footer>
                                             <% end %>
  <% end %>
  </div>
</div>