<!DOCTYPE html>
<html>
  <head>
    <title>MainPH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
  <nav class="navbar is-dark" style="height:100px" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= link_to "MAIN", root_path(), style: 'color: #ffdd57; font-size: 300%; font-family: copperplate gothic bold;', class:"navbar-item"%>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
     <%= link_to "About", abouts_index_path(), class:"navbar-item"%>
     <%= link_to "Contact", contacts_index_path(), class:"navbar-item"%>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-warning">
            <strong>Sign up</strong>
          </a>
          <a class="button is-black">
            <strong>Log in</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
