<!DOCTYPE html>
<html>
  <head>
    <title>MainPH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
       <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <% if user_signed_in? %>
    <nav class="navbar is-dark" style="height:100px" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= link_to "MAIN", root_path(), style: 'color: #ffdd57; font-size: 300%; font-family: copperplate gothic bold;', class:"navbar-item"%>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Products
        </a>

        <div class="navbar-dropdown">
            <%= link_to "T-Shirts", category_path(1), class:"navbar-item"%>
          <hr class="navbar-divider">
             <%= link_to "Hoodies", category_path(2), class:"navbar-item"%>
        </div>
      </div>

     <%= link_to "About", abouts_index_path(), class:"navbar-item"%>
     <%= link_to "Contact", contacts_index_path(), class:"navbar-item"%>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="control">
            <div class="field has-addons">
              <div class="select">
              <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                    <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name') %>
              </div>
              <%= text_field_tag :search, params[:search], placeholder: "Search a Product", class: "input"%>
              <%= submit_tag "Search", class:"button is-warning" %>
                 <% end %>
             <%= link_to "Sign out", destroy_user_session_path(), method: :delete, class:"navbar-item", class:"button is-info", style:"font-weight:bolder;"%>
        </div>
      </div>
    </div>
  </div>
  </nav>
  <% else %>
    <nav class="navbar is-dark" style="height:100px" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= link_to "MAIN", root_path(), style: 'color: #ffdd57; font-size: 300%; font-family: copperplate gothic bold;', class:"navbar-item"%>


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Products
        </a>

        <div class="navbar-dropdown">
            <%= link_to "T-Shirts", category_path(1), class:"navbar-item"%>
          <hr class="navbar-divider">
             <%= link_to "Hoodies", category_path(2), class:"navbar-item"%>
        </div>
      </div>

     <%= link_to "About", abouts_index_path(), class:"navbar-item"%>
     <%= link_to "Contact", contacts_index_path(), class:"navbar-item"%>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="control">
            <div class="field has-addons">
              <div class="select">
              <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                    <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name') %>
              </div>
              <%= text_field_tag :search, params[:search], placeholder: "Search a Product", class: "input"%>
              <%= submit_tag "Search", class:"button is-warning" %>
                 <% end %>
             <%= link_to "Sign up", new_user_registration_path(), class:"navbar-item", class:"button is-warning", style:"font-weight:bolder;"%>
             <%= link_to "Log in", new_user_session_path(), class:"navbar-item", class:"button is-black", style:"font-weight:bolder;"%>
        </div>
      </div>
    </div>
  </div>
</nav>
  <% end %>
    <%= yield %>
  </body>
</html>
